{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}


{% block body %}

<section class="block">
    <section id="presentation" >
        <h1 id="titre_presentation">BENOÎT LORRAIN</h1>
        <h3 id="titre_presentation">Thérapeute à Paris</h3>
        <br>
        <br>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eleifend maximus augue quis aliquet.<br>Sed finibus luctus sapien sit amet venenatis. Integer placerat nibh in scelerisque vehicula.<br>Mauris porta turpis eget leo mattis posuere. Suspendisse in lectus at augue ornare venenatis et ut mi.<br>Phasellus dapibus fermentum nisl.Quisque nec nisl fermentum, commodo tellus ac, varius ex. Aenean egestas tincidunt orci, non congue sapien consequat eu.<br>Etiam rhoncus, ex at feugiat pellentesque, purus justo dapibus enim, id blandit diam nunc quis ligula. Donec ante orci, mollis vel vehicula a, faucibus non velit. Praesent pellentesque dolor a est faucibus eleifend.

        </p>
        <br>
        <p>Suspendisse in lectus at augue ornare venenatis et ut mi.<br>
            Phasellus dapibus fermentum nisl. Quisque nec nisl fermentum, commodo tellus ac, varius ex.<br>
            Aenean egestas tincidunt orci, non congue sapien consequat eu.</p>
        <br>
        <div id="QUI_SUIS_JE">
            <a style="color: #F2EDE4;text-decoration:none" href="{{ path('app_about_me') }}">Qui suis-je ?</a>
        </div>
        <br>
        <i class="bi bi-arrow-down-circle"></i>
    </section>

    <section id="prestation">
        <div class="container" id="section_prestations">
            <h2>Mes prestations</h2>

            <?php if (have_posts()): ?>
                <?php while(have_posts()): the_post();?>
                    <div id="therapie_placeholder" class="d-flex flex-direction:row">
                        <?php the_post_thumbnail('post-thumbnail', ['id' => 'illu_therapie', 'alt' => '']) ?>
                            <div id="desc_therapie_index">
                                <h4><?php the_title() ?></h4>
                                <p><?php the_excerpt() ?></p>
                                <div id="button_EN_SAVOIR_PLUS">                         
                                    <a style="color: #F2EDE4;text-decoration:none" href="<?php the_permalink() ?>"><i class="bi bi-arrow-left-circle"></i>   En savoir plus...</a>
                                </div>  
                            </div>
                    </div>
                <?php endwhile;?>
            <?php else: ?>
                <h1>Pas d'articles</h1>
            <? endif; ?>

            <div id="big_button">
                <a style="color: #F2EDE4;text-decoration:none" href="http://localhost:10016/liste-prestation/">Voir toutes les prestations</a>
            </div>


        </div>
    </section>

    <section id="derniers_articles">
        <div class="container" id="section_prestations">
            <h2>Mes derniers articles</h2>

            <?php if (have_posts()): ?>
                <?php while(have_posts()): the_post();?>
                    <div id="therapie_placeholder" class="d-flex flex-direction:row">
                            <img src="https://cdn.unenvironment.org/events/2021-03/Economia%20circular%20foto%20tema%CC%81tica.jpg?VersionId=null" alt="" id="illu_therapie">
                            <div id="desc_therapie_index">
                                <h4><?php the_title() ?></h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec iaculis ultrices dolor, id dapibus purus venenatis non. Cras eu ultricies sapien. Donec in luctus ex, at iaculis augue. Etiam cursus ante ac tincidunt mattis. Maecenas id lectus posuere, aliquet sapien sit amet, malesuada nisi. Pellentesque vitae lacus ullamcorper nisi suscipit commodo. Praesent luctus elit sed mauris ultricies, non faucibus felis pharetra. Quisque sit amet tortor consequat, auctor sem in, gravida leo. Quisque hendrerit mauris ac tincidunt scelerisque.</p>
                                <div id="button_EN_SAVOIR_PLUS">                         
                                    <a style="color: #F2EDE4;text-decoration:none" href="<?php the_permalink() ?>"><i class="bi bi-arrow-left-circle"></i>   En savoir plus...</a>
                                </div>  
                            </div>
                    </div>
                <?php endwhile;?>
            <?php else: ?>
                <h1>Pas d'articles</h1>
            <? endif; ?>

            <div id="big_button">
                <a style="color: #F2EDE4;text-decoration:none" href="{{path('app_blog_list')}}">Voir tous les articles</a>
            </div>


        </div>
    </section>

    <section>
        <div class="container" id="contact">
            <h2>Contact</h2>


        </div>
    </section>
</section>
{% endblock %}

