{% extends 'base.html.twig' %}

{% block title %}Création de prestation{% endblock %}

{% block body %}

<h1>Créer une nouvelle prestation</h1>

{{ form_start(addService) }}
{{ form_widget(addService) }}
{{ form_end(addService) }}

{% endblock %}